#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: black;
	font-family: fantasy;
}

.navigation {
	position: relative;
    top: 0;
    left: 0;
    transform: none;
}

body {
	background: url("../img/light-bulb-background.jpg") no-repeat center center fixed;
  	background-size: cover;
  	height: 100%;
}

.headers {
	padding-top: 100px;
	font-family: fantasy;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}

p {
	font-family: monospace;
	font-weight: normal;
	font-size: 20px;
}

.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  li {
	float: left;
  }
  
  li a, .name {
	display: block;
	color: white;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	font-family: monospace;
  }

  .name {
	  padding-right: 70px;
  }
  
  li a:hover {
	background-color: lightslategray;
  }

.row {
	padding-left: 200px;
}  

.column {
	float: left;
	width: 33%;
	padding: 10px;
  }

  .column img {
	transition: transform .5s ease;
  }
  
  .column:hover img {
	transform: scale(1.25);
  }
  
  .row::after {
	content: "";
	clear: both;
	display: table;
  }

  .video {
	margin-left: auto;
	margin-right: auto;
	display: block
  }

  .like {
	margin-left: auto;
	margin-right: auto;
	display: block
  }

  .image {
	border: 1px solid lightslategray;
	padding: 5px;
	width: 150px;
	border-radius: 8px;
  }

  form {
    margin:0 auto;
	width:459px;
	padding-bottom: 150px;
	padding-top: 100px;
}

  input, textarea {
	width:435px;
    height:27px;
    border:1px solid #dedede;
    padding:10px;
    font-size:0.7em;
    color:#3a3a3a;
	border-radius:3px;
	font-family: monospace;
}

textarea {
	height:70px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

.submit {
    width:120px;
	height:40px;
    margin-top:15px;
	background-color: royalblue;
	color: white;
	margin-left: 160px;
	border-radius:5px;
	border: none;
}

	.submit:hover {
		background-color: dodgerblue;
	}

	.fb-like , .qrCode {
		padding-top: 30px;
		margin:0 auto;
   		text-align: center;
	  }

	  .QA, .about {
		font-family: Garamond;
		font-weight: normal;
		font-size: 25px;
	  }

	  .about {
		padding-left: 100px;
		padding-right: 100px;
	  }

	  .container {
		font-weight: bold;
		padding-left: 150px;
		padding-right: 150px;
		margin:0 auto;
	  }

	  .question {
		font-size: 30px;
		font-family: Garamond;
		font-weight: bold;
	  }


